{% extends 'base.html.twig' %}

{% block title %}{{ ticket is defined ? 'Update' : 'Add' }} Ticket{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title d-flex justify-content-between align-items-center">
                {{ ticket.title }}
                <span class="badge bg-{{ ticket.severityCssClass }}">{{ ticket.severity.name }}</span>
            </h5>

            <h6 class="card-subtitle">by {{ ticket.createdBy.name }}</h6>

            <p>{{ ticket.description }}</p>
        </div>

        <div class="card-footer text-muted d-flex justify-content-between align-items-center">
            <span>
                {{ ticket.createdAt | date('H:i:s d/m/Y') }}
            </span>

            <div>
                {% if not ticket.done %}
                    <a href="/tickets/{{ ticket.id }}/done" class="btn btn-success btn-sm" onclick="return confirm('Done?')">Mark as Resolved</a>
                {% endif %}
                <a href="/tickets/{{ ticket.id }}/update" class="btn btn-warning btn-sm" onclick="return confirm('Update?')">Update</a>
                <a href="/tickets/{{ ticket.id }}/remove" class="btn btn-danger btn-sm" onclick="return confirm('Remove?')">Remove</a>
            </div>
        </div>
    </div>
{% endblock %}