{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block body %}
    <div class="card">
        <div class="card-header">
            <h5 class="card-title">{{ title }}</h5>
        </div>

        <ul class="list-group list-group-flush">
            {% if tickets|length == 0 %}
                <li class="list-group-item">No tickets added</li>
            {% endif %}

            {% for ticket in tickets %}
                <a href="/tickets/{{ ticket.id }}" class="list-group-item list-group-item-action list-group-item-{{ ticket.severityCssClass }}">
                    {{ ticket.title }}
                </a>
            {% endfor %}
        </ul>

        <div class="card-body">
            <a href="/tickets/add" class="card-link">Add new ticket</a>
        </div>
    </div>
{% endblock %}
